{{! Partial for a single post }}
<div class="post flex gap full">
    <div class="post-avatar">
        <img src="/avatar/{{username}}" width="75px" height="75px">
    </div>
    <div class="post-content preserve-newlines">
       <p>{{title}}</p>
       <p>{{content}}</p>
       <div class="bar"></div>
        <div class="post-status-bar flex gap-sm align-center">
            <!-- everything that is shown in the status bar -->
            <!-- Heart = ♥ -->
            <!-- font awesome  trashcan = <i class="fas fa-trash-alt"> </i>-->
            <button><i class="fas fa-trash-alt"></i></button>
            <button class="like-btn" onclick="handleLikeClick()">♥</button>
            <p>{{likes}} likes</p>
            <p>Posted by {{username}} on {{timestamp}}</p>
        </div>        
    </div>
</div>
<script>

    function handleLikeClick(event) {
        //const postId = event.target.getAttribute('data-id');


        const posts      
    }

    function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const postId = buttonElement.getAttribute('data-id');        

        // you might want to "fetch" something...        
        
    }    
</script>