{{! Use the main layout }}
{{!< main }}

<!-- Link to profile.css -->
<link rel="stylesheet" href="/css/profile.css">

<div class="profile-container flex justify-center gap-lg">
    <div class="profile-avatar">
        <!-- Display the user's avatar -->
        <img src="{{#if user.avatar_url}}
                      {{user.avatar_url}}
                  {{else}}
                      /avatar/{{user.username}}
                  {{/if}}" alt="User Avatar">
    </div>
    
    <section class="profile-info">
        <!-- Display user profile info -->
        <h2>Welcome, {{user.username}}!</h2>
        <p>Member Since: {{user.memberSince}}</p>
    </section>
</div>

<section class="user-posts text-align">
    <!-- Display a custom title for the user's posts -->
    <h2>Your {{{postNeoType}}}s</h2>
    
    <div class="sort-options text-align">
        <label for="sort-by">Sort by:</label>
        <select id="sort-by" onchange="changeSort()">
            <option value="newest" {{#if (eq sortBy 'newest')}}selected{{/if}}>Newest</option>
            <option value="oldest" {{#if (eq sortBy 'oldest')}}selected{{/if}}>Oldest</option>
            <option value="most-likes" {{#if (eq sortBy 'most-likes')}}selected{{/if}}>Most Likes</option>
            <option value="least-likes" {{#if (eq sortBy 'least-likes')}}selected{{/if}}>Least Likes</option>
        </select>
    </div>
    
    <!-- Conditional rendering of the user's posts -->
    {{#if posts.length}}
        <div class="profile-posts-list">
            {{#each posts}}
                <div>
                    {{> post this user=../user}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>You have not posted yet, poster.</p>
    {{/if}}
</section>

<script>
    function changeSort() {
        const sortBy = document.getElementById('sort-by').value;
        const url = new URL(window.location);
        url.searchParams.set('sortBy', sortBy);
        window.location = url.toString();
    }
</script>
