{{! Use the main layout }}
{{!< main }}

<!-- Link to profile.css -->
<link rel="stylesheet" href="/css/profile.css">

<div class="profile-container flex justify-center gap-lg">
    <div class="profile-avatar">
        <!-- Display the user's avatar -->
        <img src="{{#if user.avatar_url}}
                      {{user.avatar_url}}
                  {{else}}
                      /avatar/{{user.username}}
                  {{/if}}" alt="User Avatar">
    </div>
    
    <section class="profile-info">
        <!-- Display user profile info -->
        <h2>hello {{user.username}}</h2>
        <p>Member Since: {{user.memberSince}}</p>
    </section>
</div>

<section class="user-posts text-align">
    <!-- Display a custom title for the user's posts -->
    <h2>Your {{{postNeoType}}}s</h2>
    
    <!-- Conditional rendering of the user's posts -->
    {{#if posts.length}}
        <div class="profile-posts-list">
            {{#each posts}}
                <div>
                    {{> post this user=../user}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>You have not posted yet, poster.</p>
    {{/if}}
</section>
